@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;700;800;900&display=swap');
@import '~antd/dist/antd.css';

/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

input[type='radio'] {
  accent-color: #191919;
  height: 30px;
  width: 30px;
  margin-right: 10px;
  vertical-align: middle;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background-color: #2a2b2f;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
